@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
html,body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color:#ECEBEB;
    color:#474747;
    font-size:16px;
    margin:0;
}
a{
    color:#333333;
    text-decoration: none;
}
a:hover{
    color:black;
}
img{
    vertical-align: middle;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* 헤더, 콘텐츠, 푸터 */
main{
    width:100%;
}
header, section, footer{
    width:100%;
    border-bottom:1px dashed black;
}
/* header */
header{
    position:absolute;
    z-index:999;
}
.header-container{
    width:100%;
    max-width:1440px;
    margin:auto;
}
/* 모바일 헤더 */
.m-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px;
    background-color:rgba(0,0,0,0.5)
}
h1.logo{
    width:60px;
    height:auto;
}
h1.logo img{
    width:100%;
}
#m-nav{
    width:30px;
    height:30px;
}
.open-side{
    width:100%;
    height:100%;
    text-indent:-999999;
    overflow:hidden;
    background:white;
    border:1px solid black;
}
/* 사이드 콘텐트 */
.side-content{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(198, 233, 247,0.5);
    top:0;
    right:-100%;
    /* right:0; */
    display:flex;
    justify-content: flex-end;
    transition:0.5s;
    -ms-overflow-style: none;
    scrollbar-width:none;
}
.slide-content::-webkit-scrollbar{
    display:none;
}
.side-content.active{
    right:0;
}
.side-container{
    width:90%;
    height:100%;
    overflow:auto;
    background:white;
}
.close-side{
    width:30px;
    height:30px;
    position:absolute;
    right:10px;
    top:10px;
    font-size:1.5em;
    background:transparent;
    border:none;
}
.side-gnb-top{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:40px;
}
.side-gnb-top a{
    padding:0 10px;
    font-weight: 700;
}
.side-gnb-top img{
    width:20px;
}
.side-gnb-middle{
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:20px;
    align-items:center;
}
.side-gnb-middle a{
    padding:10px;
    font-weight: 900;
}
.side-list{
    width:80%;
    max-width:600px;
    margin:auto;
    list-style:none;
    margin-top:50px;
}
.side-list li{
    width:100%;
    padding:10px 0;
}
.side-list li span{
    width:100%;
    display:flex;
    justify-content: space-between;
    font-weight:700;
    /* 수정 */
    padding:10px 0;
}
.m-drop-list{
    width:100%;
    display:none;
}
.m-drop-list a{
    display: block;
    font-size:0.9em;
    font-weight:700;
    padding:10px;
    background-color:#eee;
    position:relative;
}
.m-drop-list a:after{
    content:"";
    position:absolute;
    width:90%;
    height:1px;
    border-bottom:1px dashed #ccc;
    left:50%;
    bottom:0;
    transform:translate(-50%,0)
}
.m-drop-list a:last-child:after{
    border:none;
}
/* header 수정 */
header{
    /* 고정 */
    /* position:fixed; */
}

/* 데스크탑 헤더 */
.desk-header{
    display:none;
}


/* ******************************************** */

/* 콘텐츠 본문 */
.contents1{
    width:100%;
    position:relative;
    /* background-color: rgb(149, 220, 239); */
}
/* 좌우 슬라이드 */
.slider-wrap{
    width:100%;
    /* max-width:1440px; */
    margin:auto;
    position:relative;
}
.slider-container{
    width:100%;
    position:relative;
    overflow:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider-container::-webkit-scrollbar{
    display:none;
}
.slides{
    width:400%;
    position:relative;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.slide{
    width:25%;
    position:relative;
}
.slide picture{
    display:inline-block;
    width: 100%;
}
.slide img{
    width:100%;
}
.slide-text{
    position:absolute;
    width:50%;
    max-width:500px;
    background-color:rgba(255,255,255,0.5);
    top:50%;
    right:5%;
    transform:translate(0, -40%);
    padding:5% 15px;
    font-size:5vw;
    color:rgb(8, 78, 8);
    font-weight:500;
}
.slide-text p:first-child{
    font-family: 'Nanum Pen Script', cursive;
    font-size:1.5rem;
    font-weight:400;
}
.slide-text p:nth-child(2){
    font-weight:600
}
.color1{
    font-size:1.3em;
}
.slide-text p:nth-child(3){
    font-weight: 600;
}
.color2{
    color:purple;
    font-size:1.3em
}
.color3{
    font-size:1.3em;
    font-weight: bold;
}
.control{
    position:absolute;
    z-index:99;
    width:20px;
    height:60px;
    top:50%;
    transform:translate(0, -50%);
    background-color:rgba(0,0,0,0.5);
    /* text-indent: -9999px;
    background-repeat:no-repeat;
    background-size:50%;
    background-position:center; */
    border:none;
    cursor: pointer;
    font-size:1.5rem;
}
.control.btactive{
    background-color:white;
}
.prevbt{
    left:10px;
    /* background-image:url(../images/arrow-left.png); */
}
.nextbt{
    right:10px;
    /* background-image:url(../images/arrow-right.png); */
}
.pagenation{
    display:flex;
    justify-content: center;
    position:relative;
    width:100%;
    margin-top:10px;
}
.dot{
    display:inline-block;
    width:10px;
    height:10px;
    background-color:#ddd;
    text-indent:-999px;
    border-radius: 50%;
    margin:0 3px;
}
.dot.active{
    background-color:orange;
}

/* 예약 메뉴 */
.rese{
    width:90%;
    background-color:white;
    margin:auto;
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    padding:10px;
}

/* ******************************************** */

/* footer */


/* ******************************************** */

/* ~ 639px까지의 css */
@media screen and (min-width:640px){
    /* 640px에서 부터 css */
}
@media screen and (min-width:768px){
    /* 768px에서 부터 css */
    .side-container{
        width:50%;
    }
    .slide-text{
        right:5%;
        padding:1% 1%;
        font-size:1.8rem;
    }
    .slide-text p:first-child{
        font-size:2.2rem;
    }

}

@media screen and (min-width:1024px){
    /* 1024px에서 부터 css */

    /* 데스크 헤더 */
    .m-header{
        display:none;
    }
    .header-container{
        max-width:100%;
    }
    .desk-header{
        display:block;
    }
    .desk-top{
        background-color:rgba(255,255,255,0.5);
        
    }
    .desk-top-container{
        max-width:1440px;
        margin:auto;
        display:flex;
        padding:30px 50px;
        justify-content: space-between;
    }
    .desk-top-left{
        display:flex;
        width:300px;
        justify-content: space-around;
    }
    .desk-top-left a{
        font-weight:700;
    }
    .desk-top-right{
        display:flex;
        width:300px;
        justify-content: space-around;
    }
    .desk-top-right a{
        font-weight:700;
    }
    .desk-top-right img{
        width:25%
    }
    .desk-bottom{
        width:100%;
        
        background-color:rgba(0,0,0,0.5)
    }
    .desk-bottom-container{
        max-width:1440px;
        margin:auto;
        display:flex;
        justify-content:space-between;
        /* padding:5px 50px; */
        padding:0 50px;
        position:relative;
        
    }
    .desk-bottom-container h1{
        width:80px;
    }
    .desk-bottom-container h1 img{
        width:100%;
    }
    .desk-bottom-container>.desk-list{
        width:80%;
        display:flex;
        align-items: center;
    }
    .desk-bottom-container>.desk-list>ul{
        width:100%;
        display:flex;
        justify-content: space-between;
        list-style:none;
        align-items:center;
    }
    .desk-bottom-container>.desk-list>ul>li{
        width:16.6%;
        text-align:center;
    }
    .desk-bottom-container>.desk-list>ul>li>a{
        display:flex;
        width:100%;
        height:50px;
        color:white;
        text-shadow:1px 1px 0 black;
        justify-content: center;
        align-items: center;
        font-size:1.2em
        
    }
    /* .desk-bottom-container>ul>li>a:hover{
        background-color:#834646;
    } */
    .desk-bottom-container>.desk-list>ul>li>a.active{
        background-color:#834646;
    }
    .desk-full-drop{
        width:100%;
        position:absolute;
        left:0;
        top:72px;
        display:none;
        /* height:200px;
        height:0;
        overflow:hidden;
        transition:0.5s; */
    }
    /* hover 효과 */
    /* .desk-list>ul>li>a:hover{
        background-color:black;
    }
    .desk-list:hover .desk-full-drop{
        height:200px;
    } */

    .desk-full-drop-container{ 
        width:100%;
        background-color:rgba(255,255,255,0.8);
        /* background:red; */
        display:flex;
        justify-content:space-between;
        padding:0px 50px;
    }
    
    .blank-ele{
        width:150px;
    }
    .full-drop-list{
        width:80%;
        display:flex;
        justify-content:space-around;
    }
    .full-drop-list>div{
        width:16.6%;
        text-align:center;
        padding:20px 0;
        
    }
    
    .full-drop-list>div>a{
        display:flex;
        width:100%;
        height:50px;
        color:black;
        justify-content: center;
        align-items: center;
        
    }
    .full-drop-list>div.active{
        background-color:#ddd;
    }
    /* 콘텐츠 */
    .slide-text{
        font-size:2rem;
        transform:translate(0, -30%)
    }
}
@media screen and (min-width:1280px){
    /* 1280px에서 부터 css */
    .slide-text{
        right:15%;
    }
}
@media screen and (min-width:1440px){
    /* 1440px에서 부터 css */
}



